@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Poiret+One&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.showcase{
    margin: 0;
    padding: 0;
    height: 50vh;
    background-image: linear-gradient(to right top, #8cbaff, #b7bdfe, #d7c1f9, #efc8f2, #ffd1ed);
    /* background: rgb(226,183,255);
    background: linear-gradient(90deg, rgba(226,183,255,1) 0%, rgba(255,224,224,1) 50%, rgba(255,248,238,1) 100%); */
    width: 100%;
    display: flex;
    justify-content: space-around;   
    align-items: center;
}
.pic{
    width: 400px;
    height: 400px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    background: rgb(195,0,233);
    background: linear-gradient(90deg, rgba(195,0,233,1) 6%, rgba(85,0,255,1) 50%, rgba(36,0,3,1) 95%);
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    display:flex;
    position: relative;
}
.woman{
    width: 275px;
}
.man{
    width: 230px;
    position: absolute;
    left: 175px;
}
.iphone{
    width: 250px;
    position: absolute;
    left:90%;
}
.speaker{
    position: absolute;
    width: 400px;
    left: 280%;
    top: -5%;
}
.watch{
    position: absolute;
    width: 175px;
    left: 320%;
    top: 50%;
}
.punchline{
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    font-weight:900;
    font-size: 2.6rem;
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;    
}


/* login form styling */
.logbig{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-screen{
    height:100%;
    width: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 0;
}
.login-form{
    
    padding: 5%;
    display: flex;
    flex-direction: column;
    
    
}
.login-btn{
    min-width: 65%;
    margin: auto;
}
.login-img{
    margin: 0;
    width: 40%;
    height: 50%;
}

/* signup form */
.signup-screen{
    display: flex;
    /* flex-direction: column; */
    padding: 5%;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.signup-form{
    min-width: 500px;
    position: relative;
    
}
.signuptitle{
    position: absolute;
    left: -100px;
    top: -100px;
}
.signupbtn{
    position: absolute;
    left: -190px;
   
    
    min-width: 300px;
}
.signup-img{
    width: 600px;
}

/* product display styling */
.product-display{
    height: max-content;
    background-color: #ffffff;
    
}
.box{
    min-height: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    border-radius: 10px;
    padding: 3%;
}
.product-img{
    width: 200px;
    height: 200px;
    border-radius: 7%;
}
.box >h2{
    font-weight: bolder;
    font-size: 1.5rem;
}
.box >p{
    color: grey;

}
.price-cartbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-card:hover{
    background-color: rgb(228, 228, 228);
}
/* cart page styling*/
.cart-container{
    border-radius: 10px;
    border: black solid 2px;
    min-height: 200px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    
}
.product-row{
    width: 95%;
    min-height: 100px;
    border-radius: 10px;
    border: black solid 1px;
    margin-top: 1%;
}
.cart{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartItemIndividual{
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;    
    border-bottom: 1px solid #000;    
}
.cart-img{
    width: 120px;
    height: 120px;
    border-radius: 2%;
}
.pricestatus{
    display: flex;
    justify-content: space-between;
}
.checkoutbtn{    
    width: max-content;
    height: auto;
    border: #000 solid 1px;
    padding: 15px 30px;
    border-radius: 10%;    
    background-color: rgb(24, 243, 24);
    margin-bottom: 5%;
}
.checkout{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.checkoutbtn:hover, .checkout:hover{
    background-color: rgb(34, 155, 34);
    color:whitesmoke;
    text-decoration: none;
}
