<nav class="text-white flex justify-between p-2">
  <a href="/">
    <div class="logo-conatiner flex items-center space-x-2 cursor-pointer ml-7">
      <div class="logo-img">
        <img src="{{ url_for('static', filename='assets/logo.jpeg') }}" class="w-20 h-20 rounded-full" alt="logo">
      </div>
      <div logo-text>
        <h1 class="font-bold text-3xl">EazyMart</h1>
      </div>
    </div>
  </a>
  <div>
    search bar
  </div>
  <div>
    <ul class="flex space-x-3 px-4 text-md font-bold">
      <li><a href="/myOrders">My Orders</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contactUs">Contact Us</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </div>
</nav>